/* 1. External imports FIRST */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* 2. Tailwind & UI library imports SECOND */
@import "tailwindcss";
@import "@heroui/styles";

/* 3. Custom Theme definitions LAST */
@theme {
    --font-inter: "Inter", sans-serif;
    --font-google: "Google Sans", sans-serif;
}

/* .glass-card {
    background: rgba(59, 59, 59, 0.15);
    backdrop-filter: blur(24px) saturate(90%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(100, 116, 139, 0.089);
    box-shadow:
        0px 12px 40px 0 rgba(2, 6, 23, 0.3),
        inset 0 0 120px rgba(79, 70, 229, 0.08),
        inset 0px 0px 4px 2px rgba(255, 255, 255, 0.1);
    overflow: hidden;
} */

.glass-card {
    position: relative;
    /* width: 400px; */
    /* height: 300px; */
    /* border-radius: 8px; */
    background: rgba(23, 23, 23, 0.05);
    backdrop-filter: blur(25px) saturate(100%);
    -webkit-backdrop-filter: blur(25px) saturate(100%);
    border: 1px solid rgba(82, 82, 82, 0.2);
    box-shadow:
        0px 16px 60px 0 rgba(0, 0, 0, 0.4),
        inset 0px 0px 4px 2px rgba(255, 255, 255, 0.062);
    overflow: hidden;
}

.glass-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
    /* border-radius: inherit; */
    /* angled edge reflection */
    background: linear-gradient(
        to left top,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0) 50%
    );
    z-index: 1;
}

.glass-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: inherit;
    /* subtle top-to-bottom sheen */
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.03) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    z-index: 1;
}
